/* Google fontのインポート */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  /* ブラックよりほんのちょっと明るい色 */
  color: #222;
}


/* navbarのスタイル */
.navbar {
  padding: 0.8rem;
  padding: 0rem;
}

.navbar-nav li {
  padding-right: 20px;
  text-decoration: none;
}

.nav-link {
  font-size: 1.1rem;
}

.logo {
  max-height: 6rem;
  padding: 0;
}


/* Image Sliderのスタイル */
/* インジケーターを丸くする */
.carousel-indicators li {
    border-radius: 50%;
    margin: 1px 3px;
    height: 10px;
    max-width: 10px;
}

/* carouselのslideの高さ */
.slides {
  height: 43rem;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
}

.carousel-caption h3 {
  /*font-size: 180%;*/
  font-size: 2rem;
  font-weight: 500;
  color: #74B9E5;
  background-color: rgba(255,255,255,0.5);
  border-radius: 3rem; 
  padding: 0.6rem 0.6rem;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}


/* Jumbotronのスタイル */
.jumbotron {
  padding: 1rem;
  border-radius: 0;
  background-color: #F1F7FC;
}


/* 特徴のスタイル */
.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  /* センタリング */
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px  solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}


/*Three Column Sectionのスタイル */
.fa-user-md {
  color: #b4b9cc;
}

.fa-clock {
  color: #f986a2;
}

.fa-calendar-week {
  color: #5ee285;
}

.fa-user-md, .fa-clock, .fa-calendar-week {
  font-size: 4rem;
  margin: 1rem;
}


/* Cardsのスタイル */
.oral-care h2:first-letter {
  font-size: 1.5em;
  color: #74B9E5;
}

.oral-care h2 {
  color: #222;
}

.oral-care h4 {
  color: #74B9E5;
}

.oral-care {
  background: url("image/bg_grid.png");
}

/* カードの画像を小さくして中央に寄せる */
/*
.card-img-top {
  width: 80% !important;
  margin: 1.5rem auto 0 auto;
}
*/


/* Two Column Sectionのスタイル */
.fa-calendar-alt {
  color: #74B9E5;
}


.schedule table {
  border-collapse: collapse;
  border-right: 2px solid #7CBDE7;
  border-bottom: 2px solid #7CBDE7;
  border-left: 2px solid #7CBDE7;
  width: 92%;
  color: #74B9E5;
  line-height: 1.5;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.schedule tr:first-child th {
  background: #74B9E5;
  width: auto;
  color: #F6F5F0;
  font-weight: 600;
  letter-spacing: 0;
}


/* Connectのスタイル */
.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-instagram {
  color: #517fa4;
}

.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover, 
.fa-google-plus-g:hover, 
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}


/* footerのスタイル */
footer {
  background-color: #7CBDE7;
  color: white;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid white;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a {
  color: white;
}

hr.light-100 {
  border-top: 1px solid white;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer img {
  width: 70%;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: #d5d5d5;
  text-decoration: none;
}



/*---Media Queries --*/
/* 992px以下 */
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }

  
  .carousel-caption {
    top: 70%;
  }

  /*
  .carousel-caption h3 {
    font-size: 160%;
    font-weight: 400;
    padding-bottom: .3rem;
  }
}
*/

/* 768px以下 */
@media (max-width: 768px) {
  
  .carousel-caption {
    top: 65%;
  }

  /*
  .carousel-caption h1 {
    font-size: 350%;
  }

  .carousel-caption h3 {
    font-size: 120%;
    font-weight: 400;
    padding-bottom: .2rem;
  }

  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px, 14px;
  }
  */

  .display-6 {
    font-size: 200%
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

/* 576px以下 */
@media (max-width: 576px) {

  .jumbotron p{
    font-size: 1rem;
    margin: 0;
  }

  .carousel-caption {
    /* top: 65%; */
    display: none;
  }

  /*
  .carousel-caption h1 {
    font-size: 250%;
  }

  .carousel-caption h3 {
    font-size: 100%;
  }

  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px, 8px;
  }
  */

  .carousel-indicators {
    display: none;
  }

  .display-6 {
    font-size: 160%
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
